h1 {
	color: #EBEBE6;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}
body {
	background-color: #000000;
	color: #EBEBE6;
	text-align: center;
	font-size: 250%;
	font-family: 'Great Vibes', cursive;
}